<!DOCTYPE html>
<html>
<head>
    <% include ../templates/head.ejs %>
</head>
<body class="p_login">

    <%- body %>

    <% include ../templates/footer.ejs %>

    <% include ../templates/js.ejs %>
</body>
</html>
