<!DOCTYPE html>
<html>
<head>
    <% include ../templates/head.ejs %>
</head>
<body>
    <% include ../templates/hero.ejs %>

    <%- body %>

    <% include ../templates/footer.ejs %>

    <% include ../templates/js.ejs %>
</body>
</html>
