<div class="ui inverted vertical segment c_footer">
    <div class="ui container">
        <div class="ui inverted link list horizontal">
            <a href="#" class="item">About</a>
            <a href="#" class="item">Problems</a>
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Feedback</a>
            <a href="#" class="item">Contact Us</a>
        </div>
        <div class="c_footer__copyright">
            <p>OnProblem @ 2017</p>
        </div>
    </div>
</div>