<div class="op-header ui large menu">
    <div class="item">
        <i class="compass icon big"></i>
        <%=appGlobals.name%>
    </div>

    <div class="right menu">
        <% if(!user) { %>
            <div class="item">
                <a href="/signup" class="ui primary button">Join</a>
            </div>
        <% } else { %>
            <a class="item">
                <i class="bell icon large"></i>
            </a>
            <div class="item">
                <%=user.email%>
            </div>
        <% } %>
    </div>
</div>
