<title><%= typeof title !='undefined' ? title : 'On Problem' %></title>
<link rel="stylesheet" href="/semantic/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" />
<% include ./meta-tags %>