<div class="op-header ui large menu">
    <div class="item">
        <i class="compass icon big"></i>
        On Problem
    </div>
    <a class="item">
        Messages
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui primary button">Join</div>
        </div>
    </div>
</div>

<!-- @todo: Logged In/Out Configuration is needed -->