<div class="c_banner">
    <% include header.ejs %>
    <div class="c_banner__desc">
        <h1 class="c_banner__title">The Strength of a <b>People</b>.</h1>
        <h3 class="c_banner__sub-title">The Power of Community.</h3>
        <a href="/signup" class="ui primary button">Join Us</a>
    </div>
</div>