<% layout('layouts/_static_layout') -%>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <a class="ui label">Renevable Energy</a>
            <h2 class="ui header c_detail__title">
                One of Every Five Doesn't Know Where the Next Meal Will Come From
                <div class="sub header problem-item__date">wrote March 21, 17</div>
            </h2>
            <p>
                <img class="ui small rounded image left floated" src="https://images.unsplash.com/photo-1483825366482-1265f6ea9bc9?dpr=2&auto=format&fit=crop&w=300&h=300&q=80&cs=tinysrgb&crop=&bg=">
                Over the past 15 years, the number of women dying due to pregnancy-related causes has dropped significantly worldwide. This is wonderful news. But in many of the countries where Doctors Without Borders/ Médecins Sans Frontières (MSF) works, a shocking number of women still die preventable deaths. Some 800 women die every day due to pregnancy-related causes, the vast majority in developing countries, because they could not get the care they needed.
                MSF has projects in some 70 countries around the world. Most of our patients are women and children, and many of our waiting rooms and wards are full of pregnant women…
                <a href="#">see more</a>
            </p>
            <h4 class="ui horizontal divider header">
                Solutions
            </h4>
            <div class="solution" style="display: none;">
                <div class="solution__head">
                    <img class="left floated mini avatar ui image" src="https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg" >
                    <a href="#" class="header">
                        Bernard Owens
                    </a>
                    <div class="problem-item__date">
                        wrote March 21, 17
                    </div>
                </div>
                <p>
                    These issues and the suffering they cause are not new or unknown, yet they still have not been adequately addressed. MSF has demonstrated that it doesn’t have to be this way; that simple, inexpensive interventions carried out by trained health staff can save many of these women.
                </p>
                <div class="ui divider"></div>
                <button class="c_btn--can-solve vertical animated  ui tiny compact toggle labeled icon button active">
                    <div class="icon" tabindex="0">
                        <div class="hidden content">
                            <i class="chevron up icon"></i>
                        </div>
                        <div class="visible content">
                            12
                        </div>
                    </div>
                    Can Solve
                </button>
            </div>
            <!--comments-->
            <div class="ui minimal comments">
                <!--comment-->
                <div class="comment">
                    <a class="avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/128.jpg" >
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>
                                These issues and the suffering they cause are not new or unknown, yet they still have not been adequately addressed. MSF has demonstrated that it doesn’t have to be this way; that simple, inexpensive interventions carried out by trained health staff can save many of these women.
                            </p>
                        </div>
                    </div>
                    <div class="comment__footer">
                        <button class="c_btn--can-solve vertical animated  ui tiny compact toggle labeled icon button active">
                            <div class="icon" tabindex="0">
                                <div class="hidden content">
                                    <i class="chevron up icon"></i>
                                </div>
                                <div class="visible content">
                                    42
                                </div>
                            </div>
                            Can Solve
                        </button>
                        <a href="#" class="comment__item">Reply</a>
                        <a href="#" class="comment__item">Share</a>
                    </div>
                    <!--sub comments-->
                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg" >
                            </a>
                            <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    Elliot you are always so right :)
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" >
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    This has been very useful for my research. Thanks as well!
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" >
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--sub comments finish-->
                </div>
                <!--comment finish-->
                <div class="comment">
                    <a class="avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg" >
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                    </div>
                    <div class="comment__footer">
                        <button class="c_btn--can-solve vertical animated  ui tiny compact toggle labeled icon button">
                            <div class="icon" tabindex="0">
                                <div class="hidden content">
                                    <i class="chevron up icon"></i>
                                </div>
                                <div class="visible content">
                                    12
                                </div>
                            </div>
                            Can Solve
                        </button>
                        <a href="#" class="comment__item">Reply</a>
                        <a href="#" class="comment__item">Share</a>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" >
                    </a>
                    <div class="content">
                        <a class="author">Stevie Feliciano </a>
                        <div class="metadata">
                            <span class="date">2 days ago</span>
                        </div>
                        <div class="text">
                            Hey guys, I hope this example comment is helping you read this documentation.
                        </div>
                    </div>
                    <div class="comment__footer">
                        <button class="c_btn--can-solve vertical animated  ui tiny compact toggle labeled icon button">
                            <div class="icon" tabindex="0">
                                <div class="hidden content">
                                    <i class="chevron up icon"></i>
                                </div>
                                <div class="visible content">
                                    7
                                </div>
                            </div>
                            Can Solve
                        </button>
                        <a href="#" class="comment__item">Reply</a>
                        <a href="#" class="comment__item">Share</a>
                    </div>
                </div>
                <form class="ui reply form">
                    <div class="field">
                        <textarea></textarea>
                    </div>
                    <div class="ui blue labeled submit icon button">
                        <i class="icon edit"></i> Add Reply
                    </div>
                </form>
            </div>
            <!--comments-->
        </div>
        <div class="four wide column c_sidebar">
            <div class="c_sidebar__stats">
                <div class="problem-item__percent">
                    <div class="problem-item__count">80%</div>
                    <div class="ui tiny progress" data-percent="80%">
                        <div class="bar" style="width: 80%;"></div>
                        <div class="label">Solvable</div>
                    </div>
                </div>
                <div class="problem-item__percent">
                    <div class="problem-item__count">55%</div>
                    <div class="ui tiny progress" data-percent="55">
                        <div class="bar" style="width: 55%;"></div>
                        <div class="label">Criticality</div>
                    </div>
                </div>
                <div class="problem-item__percent">
                    <div class="problem-item__count">50K</div>
                    <div>Voted</div>
                </div>
            </div>
            <a href="#" class="blue ui animated fade button fluid" tabindex="0">
                <div class="visible content">Vote</div>
                <div class="hidden content">
                    Now
                </div>
            </a>
            <div class="c_sidebar__share">
                Share
                <a href="#">
                    <i class="facebook f icon"></i>
                </a>
                <a href="#">
                    <i class="twitter icon"></i>
                </a>
                <a href="#">
                    <i class="linkify icon"></i>
                </a>
            </div>
            <div class="c_sidebar__hot-topics">
                <h3>Hot Topics</h3>
                <div class="ui relaxed list">

                    <div class="item">
                        <div class="content">
                            <a class="header">Lack of Enough Clean Water</a>
                            <div class="description">Augustin Maggio - 10 mins ago</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <a class="header">One of Every Five Doesn't Know Where the Next Meal Will Come From</a>
                            <div class="description">Augustin Maggio - 10 mins ago</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <a class="header">Renewable Energy News &amp; Information</a>
                            <div class="description">Augustin Maggio - 10 mins ago</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="c_sidebar__tags ui labels">
                <h3>Tags</h3>
                <a class="ui label">Hunger</a>
                <a class="ui label">Renevable Energy</a>
                <a class="ui label">Global warming</a>
                <a class="ui label">Inequality</a>
                <a class="ui label">Civil war</a>
                <a class="ui label">Facism</a>
                <a class="ui label">Disease</a>
            </div>
        </div>
    </div>
</div>