<% layout('layouts/_login_layout') -%>
<div class="p_login__bg">
    <video class="p_login__video" autoplay="" loop="">
        <source src="images/login_video.webm" type="video/webm">
        <source src="images/login_video.mp4" type="video/mp4">

    </video>
</div>
<div class="p_login__form">
    <a href="/">
        <img src="images/logo-white.svg" class="p_login__logo" alt="Onproblem logo" />
    </a>
    <% if(message.length > 0) { %>
        <p>
            <%= message %>
        </p>
    <% } %>

    <form class="ui large form" action="/login" method="post">
        <div class="ui stacked segment">
            <%- form.toHTML() %>
            <a class="p_login__forgot-pass" href="#">Forgotten password?</a>
            <div>
                <input type="submit" value="Log In" class="ui fluid primary button" />
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <div class="ui two buttons">
                <button class="ui facebook button">
                    <i class="facebook icon"></i>
                    Facebook
                </button>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </button>
            </div>
        </div>
    </form>

    <div class="ui stacked segment dont-have-account-question">
        Don't have an account? <a href="/signup">Register now</a>
    </div>
</div>
