<h3>Sign Up</h3>

<form action="/signup" method="post">
    <%- form.toHTML() %>
    <input type="submit" value="Sign Up" />
</form>

<script>
  (function(dom) {
      var username_fields = dom.querySelectorAll('#id_email');
      if(username_fields.length > 0) {
        username_fields[0].focus();
      }
  })(document);
</script>
